version: '3'

services:
    blackbox:
        build:
            context: .
            args:
                - ENV=$ENV
        env_file:
            - ./environment/blackbox.env
        depends_on:
            - postponed
        ports:
            - '3000'
        volumes:
            - type: bind
              source: $PWD/test-reports
              target: /test-reports

    postponed:
        build:
            context: ..
        depends_on:
            - redis
        env_file:
            - ./environment/scheduler.env
        ports:
            - '3000'
        volumes:
            - type: bind
              source: $PWD/environment/test-secrets.env
              target: /service/.env

    redis:
        image: redis:6.2.5-alpine
        command: redis-server --requirepass redispass
        logging:
            driver: none
        ports:
            - '6379'
